[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "==5.14.2"
pyqt5-tools = "==5.14.2.1.7b3"
pyqt5-stubs = "==5.14.2.0"

[requires]
python_version = "3.8"
